.page-template-donate-child {
    margin: 0 auto;

    .site-main {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 100%;
        @include desktop {
        width: 1024px;
        }
    }

    h2 {
        font-size: 2rem;
        line-height: 1;
        // margin-bottom: 0;
        text-transform: none;
    }


    .yellow-dots-banner {
        width: 100%;
        height: 130px;
        background: url(../../images/svg/yellow-dots.svg) no-repeat;
        background-position: center;
        @include desktop {
        background-size: cover;
        margin-top: 140px;
        height: 177px;
        }
    }

    .donate-child-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        color: #fff;
        background-color: $brand_colour_darkgrey; 
        // padding: 10px 50px 40px 50px;
        @include desktop {
            justify-content: space-between;
            padding: 0;
            // padding: 35px 18px;
            img {
                // margin-top: 33px;
            }
        }
    }

    .donate-child-content {
        @include desktop {
            width: 60%;
            padding: 0px 25px;
        }
    }

    .donate-child-title {
        color: #fff;
    }

    .donate-child-desc {
        color: #fff;
    }

    .donate-child-img {
        font-size: 0; //removes space below image
        @include desktop {
        width: 40%;
        }
    }

    .align-center {
        display: flex;
        justify-content: center;
        padding: 10px 0px 38px 0px;
    }

    .align-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 31px;
    }

    .sponsor-button {
        @include purple-button;
        
    }

    .content-wrapper {
        @include desktop {
            display: flex;
            width: 78%;
            margin: 0 auto;
        }
    }

    .process-wrapper {
        padding: 10px 50px 40px 50px;
         @include desktop {
            padding: 10px 10px 0;
            width: 100%;
        }
    }

    .donate-child-process-title {
        color: $brand_colour_mediumgold;
    }

    .donate-child-process-desc {
        color: $brand_colour_darkgrey; 
    }

    .donate-child-scholarship-wrapper {
        padding: 10px 20px 40px 30px;
    }

    .donate-child-scholarship-heading {
        display: flex;
        height: 80px;
        @include desktop {
            margin-top: 30px;
        }
    }

    .scholarship-content {
        @include desktop {
            padding-left: 64px;
        }
    }

    .scholarship-title {
        color: $brand_colour_mediumgold;
        padding-left: 12px;
        margin-top: 7px;
        @include desktop {
            padding-left: 10px;
        }
    }

    .scholarship-amount {
        color: $brand_colour_lightgrey;
    }

    .donation-amount {
        color: $brand_colour_mediumgold; 
    }

    .sponsor-wrapper {
        margin-bottom: 60px;
        @include desktop {
            padding-top: 20px;
        }
    }

    .donate-child-content-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .sponsor-section {
        text-align: left;
        color: #fff;
        background-color: $brand_colour_mediumgold;
        padding: 10px 30px 40px 86px;
        ul {
            margin: 0;
            padding: 0 15px 29px 15px;
            width: 100%;
            @include desktop {
                padding: 0 15px;
                width: 75%;
            }
        }
    }
}