
.page-template-donate {
    margin: 0 auto;

    .menu a {
        color: white;
    }

    .site-main {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        @include desktop {
        width: 82%;
        }
    }

    .page-title-wrapper {
        border-bottom: 1px solid purple;
        margin-bottom: 42px;
        margin-top: 170px;
    }

    .page-title {
        margin-bottom: 0;
    }

    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0;
        text-transform: none;
    }

    .img-wrapper {
        height: 183px;
    }

    .donate-wrapper {
        display: flex;
        flex-flow: row wrap;
        @include desktop {
            flex-flow: row;
        }
    }

    .donate-trc-wrapper {
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: $brand_colour_darkgrey;
        padding: 10px 50px 40px 50px;
        .donate-trc-desc {
            color: #fff;
        } 
    }

    form {
        padding-top: 70px;
    }

    .donate-button{
        display: inline-block;
        font-family: $font__accent;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        height: 50px;
        width: 150px;
        padding: 10px 14px;
        margin: 0;
        background: $brand_colour_lightpurple;
        border-radius: 8px;
        border: 0;
        cursor: pointer;
        outline: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .sponsor-wrapper {
        display: flex;
        flex-direction: column;
        background-color: $brand_colour_mediumgold;
        padding: 10px 50px 40px 50px; 
        .sponsor-title {
            color: $brand_colour_darkgold;            
        }
    }

    .sponsor-desc {
        color: #fff;
    }

    .sponsor-button-wrapper {
        display: flex;
        justify-content: center;
    }

    .primary-school-button {
        padding: 30px 10px;
        @include purple-button;   
        text-align: center;
        
        a {
            height: 88px;
            width: 130px;
        }    
    }

    .vocational-school-button {
        padding: 30px 10px;
        @include purple-button;   
        text-align: center;
        
        a {
            height: 88px;
            width: 130px;
        }
    }

    .project-wrapper {
        display: flex;
        flex-flow: row wrap;
        @include desktop {
            flex-flow: row;
        }
    }

    .project-wrapper img {
        width: 100%;
        height: 60%;
        @include desktop {
            width: 63%;
        }
    }

    .fund-project-wrapper {
        background-color: #FFEABA;
        padding: 10px 50px 20px 50px;
        a {
            color: #000;
            &:hover {
                color: #000;
            }
        }
    }

    .project-title {
        color: $brand_colour_lightpurple;
    }

    .yellow-dots-banner {
        width: 100%;
        height: 80px;
        background: url(../../images/svg/yellow-dots.svg) no-repeat;
        background-position: center;
        border-bottom: 2px solid $brand_colour_lightpurple;
        @include desktop {
            background-size: cover;
        }
    }

    .recycling-wrapper {
        padding: 10px 50px 20px 50px;
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    .recycling-info, .icef-info {
        @include desktop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 40%;
        .icef-info {
            display: flex;
            align-items:center;
        }
        }
    }

    .icef-donor {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem; 
        color: #000;
        margin-bottom: 0;
    }

    .donor-number {
        font-size: 5rem;
        font-weight: bold;
        color: $brand_colour_darkpurple;
        text-align: center;
        margin-top: 0;
        @include desktop {
            font-size: 12rem;
            line-height: 1;
        }
    }
}