.page-template-donate-primary {
    margin: 0 auto;

    .site-main {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        @include desktop {
        width: 82%;
        }
    }

    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0;
        text-transform: none;
    }

    .yellow-dots-banner {
        width: 100%;
        height: 80px;
        background: url(../../images/svg/yellow-dots.svg) no-repeat;
        background-position: center;
    }

    .primary-wrapper {
        display: flex;
        flex-flow: row wrap;
        color: #fff;
        background-color: $brand_colour_mediumgold;
        padding: 10px 50px 40px 50px;
    }

    .process-wrapper {
        padding: 10px 50px 40px 50px;
    }

    .primary-school-desc {
        color: #fff;
    }

    .primary-school-img {
        margin: 0 auto;
    }

    .process-title {
        color: $brand_colour_mediumgold;
    }

    .primary_school_process_desc {
        color: $brand_colour_darkgrey;
    }
}