.page-template-donate {

    .yellow-dots-banner {
        margin-top: 155px;
        width: 100%;
        height: 170px;
        background: url(../../images/svg/yellow-dots.svg) no-repeat;
        background-position: center;
    }
}