.page-template-donate-vocational {
    margin: 0 auto;

    .site-main {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        @include desktop {
        width: 82%;
        }
    }

    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0;
        text-transform: none;
    }

    .vocational-wrapper {
        display: flex;
        flex-flow: row wrap;
        color: #fff;
        background-color: $brand_colour_mediumgold;
        padding: 10px 50px 40px 50px;
    }

    .vocational-school-title {
        color: #fff;
    }

    .vocational-school-desc {
        color: #fff;
    }

    .process-wrapper {
        padding: 10px 50px 40px 50px;
    }

    .vocational-school-process-title {
        color: $brand_colour_mediumgold;
    }

    .vocational-school-process-desc {
        color: $brand_colour_darkgrey; 
    }
}