.page-template-donate {
    margin: 0 auto;

    .site-main {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        @include desktop {
        width: 82%;
        }
    }

    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0;
        text-transform: none;
    }

    .donate-wrapper {
        display: flex;
        flex-flow: row wrap; 
    }

    .donate-trc-wrapper {
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: $brand_colour_darkgrey;
        padding: 10px 50px 40px 50px; 
        .donate-trc-desc {
            color: #fff;
        } 
    }

    .donate-button{
        display: inline-block;
        font-family: $font__accent;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        height: 50px;
        width: 150px;
        padding: 10px 14px;
        margin: 0;
        background: $brand_colour_lightpurple;
        border-radius: 8px;
        border: 0;
        cursor: pointer;
        outline: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .sponsor-wrapper {
        display: flex;
        flex-direction: column;
        background-color: $brand_colour_mediumgold;
        .sponsor-title {
            color: $brand_colour_darkgold;            
        }
    }

    .sponsor-desc {
        color: #fff;
    }

    .sponsor-button-wrapper {
        display: flex;
        justify-content: center;
    }

    .primary-school-button {
        padding: 30px 10px;
        @include purple-button;   
        text-align: center;
        
        a {
            height: 88px;
            width: 130px;
        }    
    }

    .vocational-school-button {
        padding: 30px 10px;
        @include purple-button;   
        text-align: center;
        
        a {
            height: 88px;
            width: 130px;
        }
    }

    .project-wrapper {
        display: flex;
        flex-flow: row wrap; 
    }

    .project-wrapper img {
        width: 100%;
        height: 60%; 
    }

    .fund-project-wrapper {
        background-color: #FFEABA;
        a {
            color: #000;
            &:hover {
                color: #000;
            }
        }
    }

    .project-title {
        color: $brand_colour_lightpurple;
    }

    .yellow-dots-banner {
        width: 100%;
        height: 80px;
        background: url(../../images/svg/yellow-dots.svg) no-repeat;
        background-position: center; 
    }

    .icef-donor {
        font-size: 2rem;
        color: #000;
    }

    .donor-number {
        font-size: 5rem;
        color: $brand_colour_darkpurple;
    }
}