/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Fira';
    src: url('../../fonts/firasans-bold.eot');
    src: url('../../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/firasans-bold.woff2') format('woff2'),
         url('../../fonts/firasans-bold.ttf') format('truetype'),
         url('../../fonts/firasans-bold.svg#fira_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira';
    src: url('../../fonts/firasans-regular.eot');
    src: url('../../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/firasans-regular.woff2') format('woff2'),
         url('../../fonts/firasans-regular.ttf') format('truetype'),
         url('../../fonts/firasans-regular.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/oswald-bold.eot');
    src: url('../../fonts/oswald-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/oswald-bold.woff2') format('woff2'),
         url('../../fonts/oswald-bold.ttf') format('truetype'),
         url('../../fonts/oswald-bold.svg#oswaldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/oswald-medium.eot');
    src: url('../../fonts/oswald-medium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/oswald-medium.woff2') format('woff2'),
         url('../../fonts/oswald-medium.ttf') format('truetype'),
         url('../../fonts/oswald-medium.svg#oswaldmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/oswald-regular.eot');
    src: url('../../fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/oswald-regular.woff2') format('woff2'),
         url('../../fonts/oswald-regular.ttf') format('truetype'),
         url('../../fonts/oswald-regular.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}