footer .icef-footer {
    display: flex;
    width: 100%;
    font-family: $font__main;
    color: #fff;
    background-color: $brand_colour_darkgrey;
    justify-content: center;
}

.canada-wrapper, .uganda-wrapper {
    display: flex;
}

.canada-wrapper {
    padding: 10px 0px;
    @include desktop {
        padding: 10px 50px 30px 50px;
    }
}

.canada-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    text-align: center;
    img {
        padding-top: 26px;
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 10px 0;
    @include desktop {
        flex-direction: row;
    }
}
.canada-info{
    padding-top: 1rem;
}
.canada-info, .uganda-info {
    font-size: 14px;
}

.uganda-info {
    padding-left: 8px;
}

.canada-info p, .uganda-info p {
    line-height: 0;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0.25;
}

.uganda-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    padding-left: 17px;
    text-align: center;
}

.footer-text {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 4px;
}

.fa {
    padding-right: 12px;
}

.fa-facebook {
    width: 25px;
}

.address-line {
    display: inline-flex;
    flex-direction: column;
    padding-left: 5px;
    .address-line-uganda {
        padding-left: 0px;
    }
}

.address-line2 {
    padding-left: 23px;
}

a {
    color: #fff;
    text-decoration: none;
    &:hover, &:active, &:visited {
        color: #fff;
        text-decoration: underline;
    }
}
