.front-page-head {
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 12.5vh;
    
    .home-hero {
        width: 100%;
        height: 70%;
        background: url(../../images/jpegs/home-hero.jpg) no-repeat;
        background-size: cover;
        background-position: -100px;
    }

    h2 {
        background-color: $brand_colour_lightpurple;
        margin: 0;
        padding: 10px;
        font-size: 1.25rem;
        color: white;
        text-transform: uppercase;
    }

    .scroll-down {
        width: 35px;
    }
}