.front-page-container {
    
    .front-page-head {
        width: 100%;
        height: 450px;
        text-align: center;
        margin-top: 12.5vh;

        .home-hero {
            width: 100%;
            height: 60%;
            background: url(../../images/jpegs/home-hero.jpg) no-repeat;
            background-size: cover;
            background-position: -100px;
        }

        h2 {
            background-color: $brand_colour_lightpurple;
            margin: 0;
            padding: 10px;
            font-size: 1.25rem;
            color: white;
            text-transform: uppercase;
        }

        .scroll-down {
            width: 35px;
        }
    }

    .who-we-are {
        text-align: center;

        h3{
            text-transform: uppercase;
        }

        p{
            color: $brand_colour_darkgrey;
        }


        .key-words {
            width: 100%;
            text-transform: uppercase;
            position: relative;
            margin: 0;
            display: inline-block;

            p {
                font-weight: bold;
            }
            
            span{
                background-color: $brand_colour_lightgold;
                // display: block;
                width: 100%;
            }   
        }

        .who-we-are-text{
            text-align: left;
            margin-top: 0;
            padding: 0 15px;
        }
    }

    .yellow-dot-filler {
        display: block;
        width: 100%;
        height: 50px;
        background: url(../../images/yellow-dots.svg);
        background-size: 500px;
    }

    .front-tekera-research {
        
        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.125rem;
            margin: 30px 0;
        }

        p {
            font-size: .8rem;
            line-height: 23px;
            margin: 0;
        }

        .research-flex{
            width: 100%;
            height: 100%;

            img {
                flex-basis: 100%;
                width: 100%;
            }

            .purple-block {
                flex-basis: 100%;
                background-color: $brand_colour_lightpurple;
                padding: 30px;

                p {
                    margin:0;
                    color: white;
                    text-align: center;
                }
            }

            .gold-block {
                flex-basis: 100%;
                height: 80px;
                background-color: $brand_colour_darkgold;
                display: flex;
                align-items: center;
                justify-content: center;
                
                p {
                    padding: 0 15px;
                    color: white;
                    margin: 0;
                    display: inline-block;
                }

                .front-numbers{
                    line-height: 1.5;
                }
                
            }

            .white-block {
                flex-basis: 100%;
                height: 150px;
                // align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                span {
                    display: flex;

                    p{
                        flex-basis: 50%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: .56rem;
                        line-height: 1;
                        padding: 20px 20px 0 20px;
                    }

                    .front-numbers {
                        font-size: 3rem;
                    }
                }
                
                p {
                    padding: 0 19%;
                    text-align: center;
                    color: #433E3E;
                    margin: 0;
                    display: inline-block;
                    line-height: 23px;
                }

                .front-numbers{
                    padding-left: 15px;
                }
                
            }

            .front-numbers{
                font-size: 3rem;
                font-weight: bold;
                margin: 0;
                align-self: center;
            }
        }
    }

    .our-values {
        
        h3 {
            text-align: center;
        }
        
        p{
            padding: 0 10%;
        }

        .purple-btn {
            display: none;
        }

        .desktop-only {
            display: inline-block;
        }
    }

    .key-cornerstones {
        display: flex;
        flex-wrap: wrap;

        h2 {
            text-align: center;
            flex-basis: 100%;
        }

        .cornerstone-text {
            flex-basis: 100%;
            background-color: $brand_colour_lightgold;
            color: $brand_colour_mediumgold;
            padding: 5%;

            h3 {
                font-size: 2.25rem;
                margin: 0;
            }

             p {
                 color: #433E3E;
             }
        }
    }

    .front-bottom {
        text-align: center;
        padding: 0 15%;
        line-height: 29px;
        margin-bottom: 50px;

        @include purple-button;

        button {
            margin: 5px;
        }
    }
}