.front-page-container {
    
    .front-content-container {
        width: 80%;
        margin: 0 auto;
    }


    .front-page-head {
        position: relative;
        width: 100%;
        height: 450px;
        text-align: center;
        margin-top: 12.5vh;

        @include desktop {
            margin-top: 0;
            margin-bottom: 100px;
            height: 620px;
        }

        .desktop-square {
            display: none;
            position: absolute;
            top: 100px;
            left: 41%;
            width: 400px;
            height: 400px;
            border: 2px solid #FFFFFF;
            border-radius: 10px;

            @include desktop {
                display: inline-block;
            }
        }

        .home-hero {
            width: 100%;
            height: 60%;
            background: url(../../images/jpegs/home-hero.jpg) no-repeat;
            background-size: cover;
            background-position: -100px;

            @include desktop {
                height: 100%;
                background: url(../../images/jpegs/home-hero2x.jpg) no-repeat;
                background-size: 100%;
                background-position: center;
            }
        }

        .hero-text{
            height: 30%;
             
            @include desktop {
                position: absolute;
                top: 250px;
                left: 200px;

                p{
                    color: $brand_colour_darkgrey;
                    width: 55%;
                    border-top: 1px solid white;
                    text-align: left;
                    padding: 10px 30px 10px 10px;
                }
            }

            h2 {
                font-weight: normal;
                background-color: $brand_colour_lightpurple;
                margin: 0;
                padding: 10px;
                font-size: 1.25rem;
                color: white;
                text-transform: uppercase;

                @include desktop {
                    text-align: left;
                    background-color: rgba(0, 0, 0, 0);
                    font-size: 3rem;
                    width: 420px;
                    height: 120px;
                    margin-left: 0;
                    line-height: 60px;
                }
            }
        }


        .scroll-down {
            width: 35px;

            @include desktop {
                width: 105px;
                position: relative;
                bottom: 60px;
            }
        }
    }

    .who-we-are {
        text-align: center;

        @include desktop {
            margin: 0 auto;

            .who-purple-border{
                padding-top: 50px;
                border: 2px solid $brand_colour_lightpurple;
                border-bottom: none;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;

            }
            
            p {
                width: 100%;
            }
        }

        h3{
            text-transform: uppercase;
        }

        p{
            color: $brand_colour_darkgrey;
        }


        .key-words {
            width: 100%;
            text-transform: uppercase;
            position: relative;
            margin: 0;
            display: inline-block;

            @include desktop {
                width: 80%;
            }

            p {
                font-weight: bold;
            }
            
            span{
                background-color: $brand_colour_lightgold;
                display: block;
                margin: 0;
                width: 100%;
            }   
        }

        .who-we-are-text{
            text-align: left;
            margin-top: 0;
            padding: 0 15px;

            @include desktop {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 60px;
            }
        }
    }

    .yellow-dot-filler {
        display: block;
        width: 100%;
        height: 80px;
        background: url(../../images/svg/yellow-dots.svg);
        background-size: 700px;
        border-bottom: 2px solid $brand_colour_lightpurple;

        @include desktop {
            width: 60%;
            margin: 0 auto;
        }
    }

    .front-cross {
        position: relative;
        left: 47%;
        bottom: 30px;
    }

    .front-heart {
        position: relative;
        left: 48%;
        bottom: 30px;
    }

    .front-tekera-research {
        
        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.125rem;
            margin: 30px 0;
        }

        p {
            font-size: .8rem;
            line-height: 23px;
            margin: 0;
        }

        .research-flex{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            img {
                flex-basis: 100%;
                width: 100%;
            }

            .purple-block {
                flex-basis: 100%;
                background-color: $brand_colour_lightpurple;
                padding: 30px;

                p {
                    margin:0;
                    color: white;
                    text-align: center;
                }
            }

            .gold-block {
                flex-basis: 100%;
                height: 80px;
                background-color: $brand_colour_darkgold;
                display: flex;
                align-items: center;
                justify-content: center;
                
                p {
                    padding: 0 15px;
                    color: white;
                    margin: 0;
                    display: inline-block;
                }

                .front-numbers{
                    line-height: 1.5;
                }
                
            }

            .white-block {
                flex-basis: 100%;
                height: 150px;
                // align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                span {
                    display: flex;

                    p{
                        flex-basis: 50%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: .56rem;
                        line-height: 1;
                        padding: 20px 20px 0 20px;
                    }

                    .front-numbers {
                        font-size: 3rem;
                    }
                }
                
                p {
                    padding: 0 19%;
                    text-align: center;
                    color: #433E3E;
                    margin: 0;
                    display: inline-block;
                    line-height: 23px;
                }

                .front-numbers{
                    padding-left: 15px;
                }
                
            }

            .front-numbers{
                font-size: 3rem;
                font-weight: bold;
                margin: 0;
                align-self: center;
            }

            .icon-block {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 30px;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-basis: 40%;

                    p {
                        margin: 0;
                    }

                    img {                        
                        height: 130px;
                        width: 130px;
                        padding: 10px;
                    }
                }

                
            }
        }
    }

    .our-values {
        
        h3 {
            text-align: center;
        }
        
        p{
            padding: 0 10%;
        }

        .purple-btn {
            display: none;
        }

        .desktop-only {
            display: inline-block;
        }
    }

    .key-cornerstones {
        display: flex;
        flex-wrap: wrap;

        h2 {
            text-align: center;
            flex-basis: 100%;
        }

        .cornerstone-flex {
            display: flex;
            flex-direction: column;
            
            .cornerstone-text {
                flex-basis: 100%;
                background-color: $brand_colour_lightgold;
                color: $brand_colour_mediumgold;
                padding: 5%;

                h3 {
                    font-size: 2.25rem;
                    margin: 0;
                }

                p {
                    color: #433E3E;
                }
            }
        }
        
    }

    .front-bottom {
        text-align: center;
        padding: 0 15%;
        line-height: 29px;
        margin-bottom: 50px;

        @include purple-button;

        a {
            margin: 5px;
        }
    }
}