.page-template-internship{
  .content-area{
    p{
      margin:1rem 1.5rem;
    }
    @include desktop{
      width:1000px;
      margin: 0 auto; 
      margin-top:10rem;
    }
  }
  .desktopFlex{
    @include desktop{
      display:inline-flex;
      width:100%;
      // flex-direction:column;
    }
  }
  .pageHeader{
    display:none;
    @include desktop{
      display: block;
      h1{
        margin:0 ;
      }
      border-bottom: solid 2px $brand_colour_lightpurple;
      margin-bottom: 2rem;
    }
  }
  p{
      color:$brand_colour_darkgrey;
  }
  .yellowBackgroundContent{
    @include desktop{
      width:40%;
    }
  }
  .yellowBackground{
    background:$brand_colour_lightgold;
    // padding: 1rem 0 ;
    // height:100%;
    // width:40%;
    padding-bottom:.25rem;
    padding-top:.75rem;
  }
  .secondImage{
    height:204px;
    @include desktop{
      height:auto;
    }
    img{
      height:100%;
      object-fit: cover;
    }
  }
  .belowSecondImageTitle{
    font-size:2.25rem;
    font-family: $font__main;
    width:80%;
    p{
      color:$brand_colour_mediumgold;
    }
    line-height:1.2;
    font-weight:bold;
  }
  .positionText{
    text-align: center;
    font-family:$font__accent;
    font-weight:bold;
    font-size:1.25rem;
    // padding: 4rem 0rem;
    text-transform:uppercase;
  }
  .positionAvailability{
    margin-top:1.75rem;
    margin-bottom:1.25rem;
  }
  .positionTerm, .positionDescription, .positionRequirement{
    display: flex;
    padding: 1rem 0rem;
  }
  .positionTerm, .positionDescription{
     border-bottom:solid 1px grey;
  }
  .positionName{
      font-family:$font__accent;
      text-transform:uppercase;
      font-size:1.25rem;
      p{
        color:$brand_colour_darkgold;
        margin: 0 0;
      }
  }
  .leftColumn{
    width:35%;
    font-family:$font__accent;
    text-transform: uppercase;
    font-weight: bold;
    // color:black;
  }
  .rightColumn{
    width:70%;
  }
  .applyButton{
    @include purple-button;
    text-align: center;
    a{
      font-family: $font__accent;
      margin: 4rem;
    }
  }
}