.page-template-internship{
  .content-area{
    p{
      margin:1rem 1.5rem;
    }
    @include desktop{
      width:1000px;
      margin: 0 auto; 
      margin-top:10rem;
    }
  }
  .desktop-flex{
    @include desktop{
      display:inline-flex;
      width:100%;
      // flex-direction:column;
    }
  }
  .page-header{
    display:none;
    @include desktop{
      display: block;
      h1{
        margin:0 ;
        font-family: $font__accent;
      }
      border-bottom: solid 2px $brand_colour_lightpurple;
      margin-bottom: 2rem;
    }
  }
  p{
      color:$brand_colour_darkgrey;
  }
  .yellow-background-content{
    @include desktop{
      width:60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        margin-bottom:0;
      }
    }
  }
  .yellow-background{
    background:$brand_colour_lightgold;
    // padding: 1rem 0 ;
    // height:100%;
    // width:40%;
    padding-bottom:.25rem;
    padding-top:.75rem;
  }
  .second-image{
    height:204px;
    @include desktop{
      height:auto;
    }
    img{
      height:100%;
      object-fit: cover;
    }
  }
  .below-second-image-title{
    font-size:2.25rem;
    font-family: $font__main;
    width:90%;
    p{
      color:$brand_colour_mediumgold;
    }
    @include desktop{
      font-size:3rem;
    }
    line-height:1.2;
    font-weight:bold;
  }
  .position-text{
    text-align: center;
    font-family:$font__accent;
    font-weight:bold;
    font-size:1.25rem;
    // padding: 4rem 0rem;
    text-transform:uppercase;
  }
  .position-availability{
    margin-top:1.75rem;
    margin-bottom:1.25rem;
  }
  .position-term, .position-description, .position-requirement{
    display: flex;
    padding: 1rem 0rem;
  }
  .position-term, .position-description{
     border-bottom:solid 1px grey;
  }
  .position-name{
      font-family:$font__accent;
      text-transform:uppercase;
      font-size:1.25rem;
      p{
        color:$brand_colour_darkgold;
        margin: 0 0;
      }
  }
  .left-column{
    width:35%;
    font-family:$font__accent;
    text-transform: uppercase;
    font-weight: bold;
    // color:black;
  }
  .right-column{
    width:70%;
    display: flex;
    align-items: center;
    ul {
      margin: 0;
      padding: 0px 0 0 45px;
    }
  }
  .applyButton{
    @include purple-button;
    text-align: center;
    a{
      font-family: $font__accent;
      margin: 4rem;
    }
  }
}