.workHero {

    .map {
        display: flex;
        flex-basis: 100%;
        position: relative;
        height: 400px;
        overflow: hidden;
        background: url(../../images/svg/map/map.png) center;
        background-size: cover, cover;

        @include desktop {
            background: url(../../images/svg/map/map.png) center;
            background-size: cover, cover;
        }

        

        h2 {
            display: inline;
            position: relative;
            bottom: 55px;
            right: 50px;
            margin: 0;
            color: $brand_colour_darkgrey;
        }

        span img{
            display: none;
        }

        .yellow-pin{
            display: none;
        }

        .purple-pin {
            width: 100px;
            height: 100px;
        }

        @include desktop {

            .yellow-pin {
                display: inline-block;
            }

            .our-work {
                position: absolute;
                right: 370px;
                top: 125px;
            }

            .tekera-medical-clinic {
                position: absolute;
                right: 200px;
                top: 185px;
            }

            .tekera-primary-school {
                position: absolute;
                right: 130px;
                top: 200px;
            }

            .co-operative-and-demonstration-farm {
                position: absolute;
                right: 320px;
                top: 180px;
            }

            .sustainability-projects {
                position: absolute;
                right: 220px;
                top: 255px;
            }

            .womens-socio-economic-empowerment-group {
                position: absolute;
                right: 300px;
                top: 115px;
            }

            .community-work-program {
                position: absolute;
                right: 450px;
                top: 165px;
            }

            .trades-school {
                position: absolute;
                right: 420px;
                top: 265px;
            }

            .drinking-water {
                position: absolute;
                right: 500px;
                top: 65px;
            }

            span {
                .purple-pin {
                    height: 120px;
                    width: 120px;
                }

                .our-work {
                    position: absolute;
                    right: 340px;
                    bottom: 550px;
                }

                .tekera-medical-clinic {
                    position: absolute;
                    right: 170px;
                    top: 150px;
                }

                .tekera-primary-school {
                    position: absolute;
                    right: 100px;
                    top: 175px;
                }

                .co-operative-and-demonstration-farm {
                    position: absolute;
                    right: 300px;
                    top: 145px;
                }

                .sustainability-projects {
                    position: absolute;
                    right: 195px;
                    top: 230px;
                }

                .womens-socio-economic-empowerment-group {
                    position: absolute;
                    right: 270px;
                    top: 90px;
                }

                .community-work-program {
                    position: absolute;
                    right: 420px;
                    top: 140px;
                }

                .trades-school {
                    position: absolute;
                    right: 395px;
                    top: 240px;
                }

                .drinking-water {
                    position: absolute;
                    right: 450px;
                    top: 45px;
                }
            }
        }

    }

    .openMap{
        flex-basis: 100%;
        height: 100px;
        position: relative;

        .previous-arrow {
            display: inline-block;
            position: absolute;
            left: -130px;

            @include desktop {
                display: none;
            }
        }

        .next-arrow {
            display: inline-block;
            position: absolute;
            right: -130px;

            @include desktop {
                display: none;
            }
        }
    }
    
}

.showMap{
    height: 0px!important;
}
