.workHero {

    .map {
        display: flex;
        // flex-basis: 100%;
        position: relative;
        height: 400px;
        overflow: hidden;
        background: url(../../images/svg/map/map-main.png) center;
        background-size: cover, cover;

        @include desktop {
            background: url(../../images/svg/map/map-main.png) center;
            background-size: cover, cover;
        }



        h2 {
            display: inline;
            position: relative;
            bottom: 55px;
            right: 50px;
            margin: 0;
            color: $brand_colour_darkgrey;
        }

        span .purple-pin{
            display: none;
        }

        .yellow-pin{
            display: none;
        }

        .purple-pin {
            width: 100px;
            height: 100px;
            display: none;
        }

        @include desktop {

            .yellow-pin {
                display: inline-block;
            }

            .our-work {
                position: absolute;
                right: 454px;
                top: 100px
            }

            .tekera-medical-clinic {
                position: absolute;
                right: 180px;
                top: 205px;
            }

            .tekera-primary-school {
                position: absolute;
                right: 360px;
                top: 105px;
            }

            .co-operative-and-demonstration-farm {
                position: absolute;
                right: 230px;
                top: 180px;
            }

            .sustainability-projects {
                position: absolute;
                right: 290px;
                top: 205px;
            }

            .womens-socio-economic-empowerment-group {
                position: absolute;
                right: 300px;
                top: 115px;
            }

            .community-work-program {
                position: absolute;
                right: 450px;
                top: 165px;
            }

            .trades-school {
                position: absolute;
                right: 570px;
                top: 40px;
            }

            .drinking-water {
                position: absolute;
                right: 500px;
                top: 65px;
            }

            span {
                .purple-pin {
                    height: 120px;
                    width: 120px;
                }

                .our-work {
                    position: absolute;
                    right: 444px;
                    top: 90px
                }

                .tekera-medical-clinic {
                    position: absolute;
                    right: 150px;
                    top: 170px;
                }

                .tekera-primary-school {
                    position: absolute;
                    right: 360px;
                    top: 105px;
                }

                .co-operative-and-demonstration-farm {
                    position: absolute;
                    right: 210px;
                    top: 145px;
                }

                .sustainability-projects {
                    position: absolute;
                    right: 125px;
                    top: 180px;
                }

                .womens-socio-economic-empowerment-group {
                    position: absolute;
                    right: 270px;
                    top: 90px;
                }

                .community-work-program {
                    position: absolute;
                    right: 420px;
                    top: 140px;
                }

                .trades-school {
                    position: absolute;
                    right: 560px;
                    top: 30px;
                }

                .drinking-water {
                    position: absolute;
                    right: 450px;
                    top: 45px;
                }
            }
        }

    }

    .openMap{
        flex-basis: 100%;
        // height: 100px;
        margin: 1rem auto !important;
        position: relative;

        .previous-arrow {
            display: inline-block;
            position: absolute;
            left: -130px;

            @include desktop {
                display: none;
            }
        }

        .next-arrow {
            display: inline-block;
            position: absolute;
            right: -130px;

            @include desktop {
                display: none;
            }
        }

        .map-arrow {
            transform: rotate(180deg);
        }
    }

}

.showMap{
    height: 0px!important;
}
