.workHero {

    .map {
        flex-basis: 100%;
        position: relative;
        height: 0px;
        overflow: hidden;
        background: url(../../images/svg/map/map.png) center;
        background-size: cover, cover;

        @include desktop {
            background: url(../../images/svg/map/map.png) center;
            background-size: cover, cover;
        }

        h2 {
            position: relative;
            bottom: 75px;
            left: 30px;
            margin: 0;
        }

        span img{
            display: none;
        }

        .our-work {
            position: absolute;
            right: 370px;
            top: 125px;
        }

        .tekera-medical-clinic {
            position: absolute;
            right: 200px;
            top: 185px;
        }

        .tekera-primary-school {
            position: absolute;
            right: 130px;
            top: 200px;
        }

        .co-operative-and-demonstration-farm {
            position: absolute;
            right: 320px;
            top: 180px;
        }

        .sustainability-projects {
            position: absolute;
            right: 220px;
            top: 255px;
        }

        .womens-socio-economic-empowerment-group {
            position: absolute;
            right: 300px;
            top: 115px;
        }

        .community-work-program {
            position: absolute;
            right: 450px;
            top: 165px;
        }

        .trades-school {
            position: absolute;
            right: 420px;
            top: 265px;
        }

        .drinking-water {
            position: absolute;
            right: 500px;
            top: 65px;
        }

        span {
            .purple-pin {
                height: 120px;
                width: 120px;
            }

            .trc {
                position: absolute;
                right: 325px;
                bottom: 550px;
            }

            .medical {
                position: absolute;
                right: 155px;
                top: 150px;
            }

            .primary {
                position: absolute;
                right: 85px;
                top: 175px;
            }

            .farm {
                position: absolute;
                right: 275px;
                top: 145px;
            }

            .sustainability {
                position: absolute;
                right: 180px;
                top: 230px;
            }

            .empowerment {
                position: absolute;
                right: 255px;
                top: 90px;
            }

            .communitywork {
                position: absolute;
                right: 405px;
                top: 140px;
            }

            .vocational {
                position: absolute;
                right: 380px;
                top: 240px;
            }

            .water {
                position: absolute;
                right: 435px;
                top: 45px;
            }
        }
    }

    .openMap{
        flex-basis: 100%;
        height: 100px;
    }
    
}

.showMap{
    height: 400px!important;
}
