// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Media Query

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//Button 

@mixin purple-button {
	a {
		padding-top: 10px;
		text-align: center;
		height: 50px;
		width: 150px;
		border-radius: 8px;
		display: inline-block;
		background-color:$brand_colour_lightpurple;
		color: white;
		font-family: $font__accent;
		text-transform: uppercase;
		font-size: 1.5rem;
		border: none;
		
	}

	a:hover {
			color: white;
			border: none;
			box-shadow: 5px 5px 10px black;
	}
}

@mixin darkgold-button {
	button{
		padding-top: 10px;
		text-align: center;
		height: 50px;
		width: 150px;
		border-radius: 8px;
		display: inline-block;
		background:$brand_colour_darkgold;
		color: white;
		font-family: $font__accent;
		font-weight: bold; 
		text-transform: uppercase;
		font-size: 1.5rem;
		border: none;
		
	}
}

@mixin purple-link {
	a {
		padding-top: 10px;
		text-align: center;
		height: 50px;
		// width: 150px;
		// border-radius: 8px;
		display: inline-block;
		background-color:$brand_colour_mediumgold;
		color: $brand_colour_lightpurple;
		font-family: $font__accent;
		text-transform: uppercase;
		font-size: 1.5rem;
		// border: none;
		
	}

	a:hover {
			color: $brand_colour_lightpurple;

			// border: none;
			// box-shadow: 5px 5px 10px black;
	}
}