/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}




//NEW CODE/////////////////////////////////////////////////

.screen-reader-text {
	visibility: hidden;
}

.logged-in .main-navigation{
	top: 32px;
}

.site-header {
	z-index: 2;
	position: fixed;
	top: 0; 
	width: 100%;

	@include desktop {
		position: static;
	}

	.desktop-banner {
		display: none;
		position: absolute;
		top: 0;
		left: 150px;

		@include desktop {
			display: inline-block;
		}
	}
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0; //Change after...
	width: 100%;
	background-color: white;
	height: 12.5vh;
	border-bottom: 1px solid $brand_colour_lightpurple;

	@include desktop {
		display: none;
	}

	.black-logo {
		margin: 0 20px;

		@include desktop {
			display: none;	
		}
	}

	.nav-title {
		display: inline;
		text-align: center;
		text-transform: uppercase;
	}

	.fa-bars{
		margin: 0 20px;
		font-size: 34px;

		@include desktop {
			display: none;	
		}
	}
}	

.menu {
	display: none;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 2;

	@include desktop {
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0;
	}

	li {
		background-color: #433E3E;
		border-bottom: 1px solid white;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 12.5vh;
		text-transform: uppercase;

		@include desktop {
			display: inline-block;
			background-color: rgba(0, 0, 0, 0);
			border: none;
			width: auto;
			padding: 50px 30px;
		}

		a {
			font-family: $font__accent;
			color: #433E3E;
			text-decoration: none;
			font-size: 1.25rem;
		}
	}
}

#masthead li:first-child{
	@include desktop {
		background: url(../../images/svg/banner.svg) no-repeat;
		background-size: 100%;
		width: 100px;
		height: 150px;
		margin: 0 30px;

		 a{
			 display: inline-block;
			 width: 100%;
			 height: 100%;
			 color: transparent;
		 }
	}
}

#masthead li:last-child {
	@include desktop {
		padding-top: 40px;
	}

	@include purple-button;
		a {
			font-size: 1.25rem;
			margin: 0;
			padding: 10px 0;
			width: 125px;
			height: 45px;
		}
}


.yellow-dot-filler {
	display: none;
	width: 100%;
	height: 100px;
	background: url(../../images/svg/yellow-dots.svg);
}

.show-menu {
	display: block;
}
