.error404 {
    margin-top: 25.5vh;
    height: 100%;
    background-color: $brand_colour_mediumgold;

    .menu {
        a {
            color: white;
        }
    }

    .error-404 {
        height: 1000px;
        

        .page-header{
            display: block;
            position: absolute;
            top: 0;
            left: 21%;
            height: 100%;
            text-align: center;
            width: 60%;
            
            background: url(../../images/jpegs/home-hero2x.jpg) center;
            border: 5px solid $brand_colour_lightpurple;

           .page-title{
               padding-top: 50px;
               color: $brand_colour_darkgrey;
                font-size: 15rem;
            }
        }

    }

}
