.page-template-approach{
  p{
    margin:1.5rem;
  }
  .site-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:5rem;
  }
  .mobile-swirl{
    padding-bottom:2.5rem;
  }
}