.page-id-6{
  p{
    margin:1rem 1.5rem;
    color:$color__text-main;
  }
  .site-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    @include desktop{
      width:1000px;
      margin: 0 auto;
    }
  }
  .approach-title{
    display:none;
    @include desktop{
      display: block;
      margin-top:10rem;
      width:100%;
      border-bottom:solid 2px $brand_colour_lightpurple;
      font-family: $font__accent;
      font-weight:bold;
      h1{
        margin:0;
      }
    }
  }
  .desktop-swirl{
    display:none;
    position:relative;
    margin-top:8rem;
    margin-bottom:11rem;;
    @include desktop{
      display:block;
    }
    .wheel-icons{
      position:absolute;
      top:0;
      left:0;
      height:708px;
      width:625px;
    }
    .wheel-text{
      position:absolute;
      top:50%;
      left:30%;
      font-size:2rem;
      width:40%;
      p{
        color:$brand_colour_darkgold;
      }
      text-align: center;
      text-transform: uppercase;
    }
    .swirl-icons {
      list-style: none;
      position:relative;
      height:100%;
      top: 0%;
      left: 0%;
      li{
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        p{
          font-size:1.5rem;
          margin:0;
          margin-top:.5rem;
          font-family: $font__accent;
          color:$brand_colour_lightpurple;
        }
      }
      li:nth-child(1){
        top:22%;
        left:-33%;
      }
      li:nth-child(2){
        top:-13%;
        left:20%;
      }
      li:nth-child(3){
        top:2%;
        left:75%;
      }
      li:nth-child(4){
        top:41%;
        left:102%;
      }
      li:nth-child(5){
        top:82%;
        left:76%;
      }
      li:nth-child(6){
        top:102%;
        left:20%;
      }
      li:nth-child(7){
        top:63%;
        left:-24%;
      }
      
    }
  }
  .swirl-and-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop{
      display:none;
    }
  }
  .desktop-swirl{
    display:none;
    @include desktop{
      display:block;
    }
  }
  .last-picture-mobile{
    @include desktop{
      display:none;
    }
  }.last-picture-desktop{
    display:none;
    @include desktop{
      display:block;
    }
  }
  .hero{
    @include desktop{
      // display:none;
      margin-top:2rem;
    }
  }
  .mobile-swirl-wrapper{
    position:relative;
    padding-bottom:2.5rem;
    
    .swirl-text{
      font-size: 1.5rem;
      text-transform: uppercase;
      position:absolute;
      top:34%;
      left:16%;
      width:40%;
      p{
        color:black;
      }
    }
  }
   .quote-background{
    background:$brand_colour_lightgold;
    padding:1rem;
    width:70%;
    font-family: $font__accent;
    position:relative;
    margin: 0 auto;
    margin-top:4rem;
    margin-bottom:4rem;
    font-size:1.25rem;
    .top-left-quote, .bottom-right-quote {
      p{
        font-size:11rem;
        color: $brand_colour_mediumgold;        
      }
      position:absolute;
    }
    .top-left-quote{
      top: -45px;
      left: -49px;
    }
    .bottom-right-quote{
      bottom: -106px;
      right: -37px;
    }
    p.quote:first-letter {
      color: $brand_colour_darkgrey;
      float: left;
      font-weight: 700;
      font-size: 95px;
      line-height: .5;
      padding-top: 34px;
      padding-right: 8px;
      padding-left: 3px;
    }
    .author{
      text-align: right;
      font-size: 1.25rem;
    }
  }
  .mobile-approach-table{
    display:flex;
    flex-direction: column;
    li{
      img{
        width: 50px;
        margin-right:.5rem;
      }
      display: inline-flex;
      font-family: $font__accent;
      text-transform: uppercase;
      font-size:1.25rem;
      p{
        color:black;
      }
      .table-numbers{
        color:$brand_colour_darkgold;
      }
    }
  }
  .last-block{
    margin-bottom:2rem;
  }
}