.team-type-archive {
    margin-top: 12.5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop{
        background: url(../../images/svg/our-team-tree.svg) no-repeat;
        background-position: center;
    }

    .canada-team, .uganda-team {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        background: none;

        @include desktop {
            flex-basis: 45%;
        }


        h2 {
            display: inline-block;
            flex-basis: 100%;
            text-align: center;
            height: 30px;
            font-weight: 500;
        }

        .team-member{
            flex-basis: 40%;
            height: 305px;
            margin: 0 5%;
            text-align: center;
            text-transform: uppercase;
            overflow: hidden;

            @include desktop {
                // flex-basis: 15%;
                margin: 0 3%;
                overflow: hidden;
                height: 350px;
            }

            p {
                margin: 0px;
                font-size: .8rem;
            }

            .name {
                font-weight: 600;
                color: $brand_colour_darkgrey;
            }

            .job-border {
                width: 100%;
                position: relative;
                top: 37px;
                z-index: 1;
            }
            

            .profile-pic {
                border: 5px solid $brand_colour_mediumgold;
                height: 60%;
                overflow: hidden;
                margin-bottom: 5px;

                @include desktop {
                    height: 65%;
                }

                img {
                    margin: 0 auto;
                    max-width: none;
                    height: 100%;
                    // position: relative;
                    // // right: 20px;

                    @include desktop {
                        // right: 0;
                        min-width: 100%;
                    }
                }
            }
        }
    }

}