.team-type-archive {

    .canada-team, .uganda-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: none;
        background-position: center;
        margin: 5% 10%;

        @include desktop{
            background: url(../../images/svg/our-team-tree.svg) no-repeat;
        }

        h2 {
            width: 100%;
            text-align: center;
            
        }

        .team-member{
            flex-basis: 40%;
            height: 325px;
            margin: 0 5%;
            text-align: center;
            text-transform: uppercase;
            overflow: hidden;

            @include desktop {
                flex-basis: 15%;
                margin: 0 3%;
                overflow: hidden;
                height: 350px;
            }

            p {
                margin: 0px;
                
            }

            .name {
                font-weight: 600;
                color: $brand_colour_darkgrey;
            }

            .job-border {
                width: 100%;
                position: relative;
                top: 37px;
                z-index: 1;
            }
            

            .profile-pic {
                border: 5px solid $brand_colour_mediumgold;
                height: 55%;
                overflow: hidden;
                margin-bottom: 5px;

                @include desktop {
                    height: 65%;
                }

                img {
                    max-width: none;
                    height: 100%;
                    position: relative;
                    // right: 20px;

                    @include desktop {
                        // right: 0;
                        min-width: 100%;
                    }
                }
            }
        }
    }

}