.updates {
    margin: 10% auto;
    width: 70%;

    .updates-flex{
        
        
        a {

            .update-text {

                .entry-content{
                    display: none;
                }
            }
                
        }

    }

    

}