.updates {
    margin: 10% auto;
    width: 70%;

    .updates-flex{
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: flex-start;

        .update-article {
            flex-basis: 30%;
            padding: 10px;

            a {

                .update-text {
                    display: none;
                    
                }    
            }   

        }
        

    }

    

}