// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: "Fira Sans", sans-serif;
$font__accent: "Oswald", sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//ICEF color scheme
$brand_colour_lightpurple: #852762;
$brand_colour_darkpurple: #631747;
$brand_colour_lightgold: #FFEABA;
$brand_colour_mediumgold: #F2CA6E;
$brand_colour_darkgold: #B5852F;
$brand_colour_lightgrey: #898989;
$brand_colour_darkgrey: #433E3E;