
.post-type-archive-project_type{
  .content-area{
		@include desktop{
			width:1000px;
    margin: 0 auto;
		margin-top:10rem;
		}
    
  }
  .handMade{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background:$brand_colour_lightpurple;
    p{
      background:$brand_colour_lightpurple;
      font-family:$font__accent;
      color:white;
			    margin-bottom: 34px;
			font-size: 3rem;
    }
  }

	.workHero{
		display: flex;
		width: 100%;	
		flex-wrap: wrap;
		flex-direction: column;

		.yellowBackground{
			background:$brand_colour_mediumgold;
			flex-basis: 100%;
			height: 80px;

			h1{
				font-size:1.25rem;
				text-align: center;
				color:white;
				margin: 10px;

				@include desktop{
					font-size:3rem;
					padding-left:1rem;
					text-align: left;
				}
			}
		}
		.openMap{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// text-align: center;
			margin:0 auto;
			p{
				margin:0;
				text-transform: uppercase;
				font-weight:bold;
				color:$brand_colour_darkgrey;
			}
			img{
				width:25px;

				@include desktop {
					width: 60px;
				}
			}
		}
	}
	.purpleCircleTitle{
		text-align: center;
		font-size:1.5rem;
	}
  .purpleCircleGrid{
    display:flex;
		justify-content:center;
    list-style:none;
    flex-wrap:wrap;
		margin:0;
		padding:0;
		@include desktop{
    	width:1000px;
		}
    img{
      height:110px;
    }
    li{
      margin:.25rem 1rem;
			height:150px;
			display:flex;
			justify-content: center;
			width:150px;
    }
		.ch-item {
			background:$brand_colour_lightpurple;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: relative;
			box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			cursor: default;
		}
		.ch-info-wrap{
			position: absolute;
			width: 110px;
			height: 110px;
			border-radius: 50%;
			perspective: 800px;
			transition: all 0.4s ease-in-out;
			// top: 20px;
			// left: 20px;
			background: #f9f9f9 url(../images/bg.jpg);
			box-shadow: 
				0 0 0 20px rgba(255,255,255,0.2), 
				inset 0 0 3px rgba(115,114, 23, 0.8);
		}
		.ch-img-11{

			background-image: url(./images/svg/our-work-mobile/water.svg)
		}
		.ch-info-front{
			img{
				width:100%;
				height:100%;
				object-fit: cover;
			}
		}
		.ch-info{
			position: absolute;
			width: 111px;
			height: 111px;
			border-radius: 50%;
			transition: all 0.4s ease-in-out;
			transform-style: preserve-3d;
		}
		.ch-info > div {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-position: center center;
			backface-visibility: hidden;
		}
		.ch-info .ch-info-back {
			transform: rotate3d(0,1,0,180deg);
			background: $brand_colour_darkpurple; 
			display:flex;
			justify-content: center;
			align-items: center;
		}
.ch-info h4 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 90px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info-back p {
	color: #fff;
	text-align: center;
	margin-top:2rem;
	// padding: 10px 5px;
	font-family:$font__accent;
	text-transform: uppercase;
	// font-style: italic;
	// margin: 0 30px;
	font-size: 12px;
	// border-top: 1px solid rgba(255,255,255,0.5);
}
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover .ch-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
	transform: rotate3d(0,1,0,-180deg);
}

// 		.ch-item {
// 			width: 100%;
// 			height: 100%;
// 			border-radius: 50%;
// 			position: relative;
// 			box-shadow: 0 1px 2px rgba(0,0,0,0.1);
// 			cursor: default;
// 		}
// .ch-info-wrap{
// 	position: absolute;
// 	width: 150px;
// 	height: 150px;
// 	border-radius: 50%;
// 	perspective: 800px;
// 	transition: all 0.4s ease-in-out;
// 	top: 20px;
// 	left: 20px;
// 	background: #f9f9f9 url(../images/bg.jpg);
// 	box-shadow: 
// 		0 0 0 20px rgba(255,255,255,0.2), 
// 		inset 0 0 3px rgba(115,114, 23, 0.8);
// 	}
// 	.ch-info{
// 		position: absolute;
// 		width: 150px;
// 		height: 150px;
// 		border-radius: 50%;
// 		transition: all 0.4s ease-in-out;
// 		transform-style: preserve-3d;
// 	}
// 	.ch-info > div {
// 		display: block;
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		border-radius: 50%;
// 		background-position: center center;
// 		backface-visibility: hidden;
// 	}
// 	.ch-info .ch-info-back {
// 		transform: rotate3d(0,1,0,180deg);
// 		background: #000;
// 	}
// 	.ch-info h3 {
// 		color: #fff;
// 		text-transform: uppercase;
// 		letter-spacing: 2px;
// 		font-size: 14px;
// 		margin: 0 15px;
// 		padding: 40px 0 0 0;
// 		height: 90px;
// 		font-family: 'Open Sans', Arial, sans-serif;
// 		text-shadow: 
// 			0 0 1px #fff, 
// 			0 1px 2px rgba(0,0,0,0.3);
// 	}
// 	.ch-info p {
// 		color: #fff;
// 		padding: 10px 5px;
// 		font-style: italic;
// 		margin: 0 30px;
// 		font-size: 12px;
// 		border-top: 1px solid rgba(255,255,255,0.5);
// 	}
// 	.ch-info p a {
// 		display: block;
// 		color: rgba(255,255,255,0.7);
// 		font-style: normal;
// 		font-weight: 700;
// 		text-transform: uppercase;
// 		font-size: 9px;
// 		letter-spacing: 1px;
// 		padding-top: 4px;
// 		font-family: 'Open Sans', Arial, sans-serif;
// 	}
// 	.ch-info p a:hover {
// 		color: rgba(255,242,34, 0.8);
// 	}
// 	.ch-item:hover .ch-info-wrap {
// 		box-shadow: 
// 			0 0 0 0 rgba(255,255,255,0.8), 
// 			inset 0 0 3px rgba(115,114, 23, 0.8);
// 	}
// 	.ch-item:hover .ch-info {
// 		transform: rotate3d(0,1,0,-180deg);
// 	}

// 		.ch-item {
// 		width: 150px;
// 		height: 150px;
// 		border-radius: 50%;
// 		position: relative;
// 		cursor: default;
// 		perspective: 900px;
// 		}
		// .ch-info{
		// position: absolute;
		// width: 100%;
		// height: 100%;
		// transform-style: preserve-3d;
		// } 
		// .ch-info > div {
		// display: block;
		// position: absolute;
		// width: 100%;
		// height: 100%;
		// border-radius: 50%;
		// background-position: center center;
		// transition: all 0.4s linear;
		// transform-origin: 50% 0%;
		// }
		// .ch-info .ch-info-front {
		// 	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
		// }
		// .ch-info .ch-info-back {
		// 	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		// 	background: #000;
		// 	opacity: 0;
		// }
		// .ch-info h4 {
		// 	color: #fff;
		// 	text-transform: uppercase;
		// 	letter-spacing: 2px;
		// 	font-size: 12px;
		// 	margin: 0 15px;
		// 	text-align: center;
		// 	padding: 60px 0 0 0;
		// 	height: 110px;
		// 	font-family: 'Open Sans', Arial, sans-serif;
		// 	text-shadow: 
		// 		0 0 1px #fff, 
		// 		0 1px 2px rgba(0,0,0,0.3);
		// }
		// .ch-info p {
		// 	// color: #fff;
		// 	// padding: 10px 5px;
		// 	// font-style: italic;
		// 	// margin: 0 30px;
		// 	// font-size: 12px;
		// 	// border-top: 1px solid rgba(255,255,255,0.5);
		// }
		// .ch-info p a {
		// 	// display: block;
		// 	// color: rgba(255,255,255,0.7);
		// 	// font-style: normal;
		// 	// font-weight: 700;
		// 	// text-transform: uppercase;
		// 	// font-size: 9px;
		// 	// letter-spacing: 1px;
		// 	// padding-top: 4px;
		// 	// font-family: 'Open Sans', Arial, sans-serif;
		// }
		// .ch-info p a:hover {
		// 	color: rgba(255,242,34, 0.8);
		// }
		// .ch-item:hover .ch-info-front {
		// 	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
		// 	opacity: 0;
		// }
		// .ch-item:hover .ch-info-back {
		// 	transform: rotate3d(1,0,0,0deg);
		// 	opacity: 1;
		// }
}
.test1{
	.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}
.ch-info-wrap{
	position: absolute;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	perspective: 800px;
	transition: all 0.4s ease-in-out;
	// top: 20px;
	// left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}
.ch-img-11{
	background:$brand_colour_lightpurple;
	background-image: url(./images/svg/our-work-mobile/water.svg)
}
.ch-info-front{
	img{
		width:100%;
		height:100%;
		object-fit: cover;
	}
}
.ch-info{
	position: absolute;
	width: 111px;
	height: 111px;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	backface-visibility: hidden;
}
.ch-info .ch-info-back {
	transform: rotate3d(0,1,0,180deg);
	background: #000;
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 90px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover .ch-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
	transform: rotate3d(0,1,0,-180deg);
}

}
}