
.single-project{
  .content-area{
		@include desktop{
			width:1011px;
			margin: 0 auto;
			margin-top:10rem;
		}
		p{
			margin:1.5rem;
		}
  }
	p.facts{
		color:$brand_colour_darkgrey;
		margin:0;
		
	}
	.fact-container{
		margin-top:2rem;
	}
	.fact{
		display:flex;
		margin:2rem;
		@include desktop{
			margin:1rem;
			margin-left:3rem;
			
		}
		.mobile-arrow{
			@include desktop{
				display:none;
			}
		}
		.desktop-arrow{
			display:none;
			@include desktop{
				display:block;
			}
		}
	}
	.section-category{
		@include desktop{
			display:flex;
			height: 300px;
		}
		.section-picture{
			height: 100%;
			overflow: hidden;
		}
	}
	.yellow-background-category{
		display:flex;
		background:$brand_colour_mediumgold;
		width:100%;
		@include desktop{
			width:40%;
			justify-content: flex-end;
			flex-direction: column;
		}
		font-family:$font__accent;
		justify-content: center;
		padding:1.5rem;
		padding-bottom: 1rem;
		justify-content: center;
		.yellow-number{
			display:flex;
			justify-content: center;
			align-items: center;
			font-weight:bold;
			padding-right:2rem;
			font-size:4rem;
			margin:0 auto;
			color:$brand_colour_darkgold;
			@include desktop{
				font-size:8rem;
				padding:0;
				padding-left:9rem;
				height: 100px;
				color:$brand_colour_darkgold;
			}
		}
		.yellow-description{
			font-size:1.5rem;
			width:70%;
			font-weight:bold;
			display:flex;
			justify-content: center;
			align-items: center;
			color:white;
			line-height: 1.2;
			text-transform: uppercase;
			@include desktop{
				width:98%;
				display: flex;
				justify-content: flex-end;
				text-align: right;
			}
		}
	}
	.quote-background{
			background:$brand_colour_lightgold;
			// font-style: italic;
			// margin-bottom:2rem;
			margin:3rem;
			padding:2rem;
			@include desktop{
				padding:1rem;
				width: 60%;
    		margin: 3.5rem auto;
				padding: 2.5rem;
			}
			position:relative;
			.top-left-quote, .bottom-right-quote{
				position:absolute;
				p{
					font-size: 11rem;
					color:$brand_colour_mediumgold;
				}
			}
			.top-left-quote{
				top:-30px;
				left:-25px;
    	}
    	.bottom-right-quote{
				bottom: -90px;
				right: -15px;
    	}
			p{
				margin:0;
				color: $brand_colour_darkgrey;
				font-family:$font__accent;
				font-size:1.25rem;
			}
			.quote-author{
				text-align: right;
				font-size: 1.25rem;
				margin-top: 1rem;
			}
			.work-quote::first-letter{
				color: $brand_colour_darkgrey;
				float: left;
				font-weight: 700;
				font-size: 95px;
				line-height: .45;
				padding-right: 5px;
				padding-top: 37px;
			}
		}
	.fact-text{
		@include desktop{
			display:flex;
			align-items: center;
		}
	}
	.fact-number{
		text-align: center;
		display: flex;
    flex-direction: column;
    justify-content: center;
		:nth-child(3){
			width: 100px;
		}
		p{
			margin:0;
			font-weight:bold;
			color:black;
			font-size:1.5rem;
			font-family: $font__accent;
			height:20px;
			@include desktop{
				height: 25px;
				font-size:1.5rem;
			}
		}
		.mobile-arrow img{
			max-width: 50px;
			height: 50px;
			height: 100%;
		}
		.desktop-arrow{
			height: 100%;
			img{
				height: 100%;
				width: 40px;
			}
		}
		margin-right:1rem;
		@include desktop{
			flex-direction: row;
			align-items: center;
			font-weight:bold;
			font-size:2rem;
			margin-right:2rem;
			img{
				margin-left:1rem;
			}
			// margin-bottom:2rem;
			p{
				margin:0;
				color:black;
			}
		}
	}
	.why-flex, .story-flex, .impact-flex{
		@include desktop{
			display:flex;
			height:420px;
			width: 100%;
		}
	}
	.story-flex{
		.story-text{
			order:1;
		}
		.story-pic{
			order:0;
		}
	}
	.why-text,.story-text,.impact-text{
		background:$brand_colour_lightgold;
		padding:1.5rem;
		// height:420px;
		@include darkgold-button;
		.read-intro{
			height: 50%;
		}
		.read-button{
			display: flex;
			height: 50%;
			margin-top:1rem;
			justify-content: center;
			@include desktop{
				flex-direction: row-reverse;
				justify-content: flex-start;
				align-items: flex-end;
				margin-top:0;
			}
		}
		h2{
			font-size:2.5rem;
			margin: 0;
			color:$brand_colour_mediumgold;
		}
		p{
			margin:0;
			margin-bottom:1rem;
		}
		@include desktop{
			width: 70%;
			button{
				float:right;
			}
		}
	}
	.read-why,.read-story,.read-impact{
		display: none;
	}
	.close-why-button, .close-story-button, .close-impact-button{
		display:flex;
		justify-content: flex-end;
    padding-bottom: 1rem;
		padding-right: 1rem;
		img{
			transform: rotate(45deg);
			width:40px;
		}
	}
	.read-more-why, .read-more-story, .read-more-impact{
		padding: 1rem;
		@include desktop{
			width:60%;
		}
	}
	.why-pic, .story-pic, .impact-pic{
		height:270px;
		width:100%;
		overflow-y:hidden;
		@include desktop{
			height:100%;
		}
		img{
			object-fit: cover;
			width: 100%;
			height:100%;
		}
	}
	.why-pic, .story-pic, .impact-pic{
		height:270px;
		width:100%;
		overflow-y:hidden;
		@include desktop{
			height:100%;
		}
		img{
			object-fit: cover;
			width: 100%;
			height:100%;
		}
	}
  .trc-circle{
    display:flex;
    justify-content: center;
    align-items: center;
		height:80px;
		width:80px;
		@include desktop{
			height: 110px;
   		width: 110px;
		}
    
    border-radius: 50%;
    background:$brand_colour_lightpurple;
    p{
      background:$brand_colour_lightpurple;
      font-family:$font__accent;
      color:white;
			font-size:2rem;
			margin-top:2.5rem;
			@include desktop{
				font-size: 3rem;
				line-height: 0;
    		padding-top: .5rem;
			}
		
    }
  }
	.workHero{
		display: flex;
		width: 100%;	
		flex-wrap: wrap;
		flex-direction: column;

		.yellowBackground{
			background:$brand_colour_mediumgold;
			flex-basis: 100%;
			height: 80px;
			h1{
				font-size:1.25rem;
				text-align: center;
				color:white;
				margin: 10px;
				@include desktop{
					font-size:2rem;
					padding:.7rem;
					text-align: left;
				}
			}
		}
		.openMap{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// text-align: center;
			margin:0 auto;
			p{
				margin:0;
				text-transform: uppercase;
				font-weight:bold;
				color:$brand_colour_darkgrey;
			}
			img{
				width:25px;
				@include desktop {
					width: 60px;
				}
			}
		}
	}
	.purple-nav-circles{
		margin-top: 3rem;
	}
	.purple-circle-title{
		text-align: center;
		font-size:1.5rem;
	}
  .purple-circle-grid{
    display:flex;
		justify-content:center;
    list-style:none;
    flex-wrap:wrap;
		margin:0;
		margin-bottom:4rem;
		padding:0;
		@include desktop{
    	width:1000px;
		}
    img{
			height:80px;
			@include desktop{
      	height:110px;
			}
    }
    li{
      margin:.25rem 1rem;
			display:flex;
			justify-content: center;
			height:120px;
			width:120px;
			@include desktop{
				height:150px;
				width:150px;
			}
    }
		.ch-item {
			background:$brand_colour_lightpurple;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: relative;
			box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			cursor: default;
		}
		.ch-info-wrap{
			position: absolute;
			width:80px;
			height:80px;
			@include desktop{
				width: 110px;
				height: 110px;
			}
			border-radius: 50%;
			perspective: 800px;
			transition: all 0.4s ease-in-out;
			box-shadow: 
				0 0 0 20px rgba(255,255,255,0.2), 
				inset 0 0 3px rgba(115,114, 23, 0.8);
		}
		.ch-img-11{

			background-image: url(./images/svg/our-work-mobile/water.svg)
		}
		.ch-info-front{
			img{
				width:100%;
				height:100%;
				object-fit: cover;
			}
		}
		.ch-info{
			position: absolute;
			width: 80px;
			height: 80px;
			@include desktop{
				width: 111px;
				height: 111px;
			}
			
			border-radius: 50%;
			transition: all .4s ease-out;
			transform-style: preserve-3d;
		}
		.ch-info > div {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-position: center center;
			backface-visibility: hidden;
		}
		.ch-info .ch-info-back {
			transform: rotate3d(0,1,0,180deg);
			background: $brand_colour_darkpurple; 
			display:flex;
			justify-content: center;
			align-items: center;
		}
		.ch-info-back p {
			color: #fff;
			text-align: center;
			margin-top:2rem;
			font-family:$font__accent;
			text-transform: uppercase;
			font-size: 12px;
		}
		.ch-info p a:hover {
			color: rgba(255,242,34, 0.8);
		}
		.ch-item:hover .ch-info-wrap {
			box-shadow: 
				0 0 0 0 rgba(255,255,255,0.8), 
				inset 0 0 3px rgba(115,114, 23, 0.8);
		}
		.ch-item:hover .ch-info {
			transform: rotate3d(0,1,0,-180deg);
		}
	}
}
